@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --navbar-height: 95px;
  --font1: #1b212c;
  --font1Dark: #ffffff;
  --font2: #a58861;
  --font2Dark: #ffd6ae;
  --background: #ffffff;
  --backgroundDark: #1b212c;
}

* {
  @apply text-[color:var(--font1)] dark:text-[color:var(--font1Dark)];
}

body {
  @apply bg-white dark:bg-[color:var(--backgroundDark)];
}

@layer components {
  .secondaryColor {
    @apply text-[color:var(--font2)] dark:text-[color:var(--font2Dark)];
  }
}

.poppins-font {
  font-family: 'Poppins', sans-serif;
}
