@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --navbar-height: 95px;
  --fontColor1: #1b212c;
  --fontColor1Dark: #ffffff;
  --fontColor2: #a58861;
  --fontColor2Dark: #ffd6ae;
  --fillColor: #ffffff;
  --fillColorDark: #1b212c;
}

* {
  font-family: 'Open Sans', sans-serif;
  @apply text-[color:var(--fontColor1)] dark:text-[color:var(--fontColor1Dark)];
}

body {
  @apply bg-[color:var(--fillColor)] dark:bg-[color:var(--fillColorDark)];
}

@layer components {
  .primaryColor {
    @apply text-[color:var(--fontColor1)] dark:text-[color:var(--fontColor1Dark)];
  }
  .secondaryColor {
    @apply text-[color:var(--fontColor2)] dark:text-[color:var(--fontColor2Dark)];
  }
  .filled {
    @apply bg-[color:var(--fillColorDark)] dark:bg-[color:var(--fillColor)];
  }
}

.poppins-font {
  font-family: 'Poppins', sans-serif;
}

.montserrat-font {
  font-family: 'Montserrat', sans-serif;
}

@layer components {
  .select-language {
    @apply outline-none;
  }
}

.menu-item {
  font-family: 'Poppins', sans-serif;
  color: white;
  font-size: 55px;
}

.arrow {
  height: 19px;
  color: #1b212c;
  font-weight: 300;
  opacity: 0.4;
}
